*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background: linear-gradient(to left, #0220bf 22%, #5cbfcc 100%);
    
}

/*Nav bar*/
.n_flex {display: flex;}
.n_child{
    font-size: 120%;}

.n_logo {
   width: 100%;
   height: auto;
   }

.primary-navigation {
    gap: 4vw;
    list-style: none;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    word-wrap: none;
    width: 110%;
    padding-inline: 5%;
    z-index: 100;
}

.primary-navigation a {
    text-decoration: none;
    color: white;}

.mobile-nav-toggle {
    display: none;}

@media (max-width: 500px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;
        list-style: none;
        font-size: 150%;
        padding-top: 15%;
        gap: 10%;
        
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        background-color: black;
        }

        .mobile-nav-toggle[aria-expanded="true"] {
            background-image: url(billeder/ikon.png);
        }
        .primary-navigation[data-visible="true"] {
            transform: translateX(0);
        }
              
        .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 2000;
            right: 1rem;
            top: 2rem;
            background: transparent;
            background-image: url(billeder/ikon.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 1.5rem;
            aspect-ratio: 1;
            border: 0;
        }
           
        .mobile-nav-toggle:focus-visible {
            outline: 5px solid white;
            outline-offset: 5px;
        }
    }

@media (max-width: 1200px) and (min-width: 500px) {
        .primary-navigation {
            position: fixed;
            z-index: 1000;
            inset: 0 0 0 0;
            list-style: none;
            font-size: 150%;
            padding-top: 5%;
            margin: 0;
            flex-direction: column;
            transform: translateX(100%);
            transition: transform 500ms ease-in-out;
            background-color: black;
            }

        .mobile-nav-toggle[aria-expanded="true"] {
                background-image: url(billeder/ikon.png);
            }
        .primary-navigation[data-visible="true"] {
                transform: translateX(0);
            }
            .mobile-nav-toggle {
                display: block;
                position: absolute;
                z-index: 2000;
                right: 1rem;
                top: 2rem;
                background: transparent;
                background-image: url(billeder/ikon.png);
                background-repeat: no-repeat;
                background-position: center;
                width: 1.5rem;
                aspect-ratio: 1;
                border: 0;
            }

        .mobile-nav-toggle:focus-visible {
                outline: 5px solid white;
                outline-offset: 5px;
            }
}
/*Slut på navbar*/
/*Pentia logo animation*/
#c_animation{
    width: 100%;
    height: auto;
    margin-top: -7%;
}
/*Cases grid*/
.c_grid{
    background-color: white;
}
.c_griditem_1{grid-area: c1; background-color: #5cbfcc ; 
}
.c_griditem_2{grid-area: c2; background-color: #6b9299 ;
}
.c_griditem_3{grid-area: c3; background-color: #E5E2E2 ;
}
.c_griditem_4{grid-area: c4; background-color: antiquewhite ;
}
.c_griditem_5{grid-area: c5; background-color: aqua ;
}
.c_griditem_6{grid-area: c6; background-color: aquamarine ;
}
.c_griditem_7{grid-area: c7; background-color: bisque ; 
}
.c_griditem_8{grid-area: c8; background-color: black ;
}
.c_griditem_9{grid-area: c9; background-color: blue ;
}
.c_griditem_10{grid-area: c10; background-color: cornflowerblue ;
}
.c_griditem_11{grid-area: c11; background-color: chartreuse ;
}
.c_griditem_12{grid-area: c12; background-color: chocolate ;
}
.c_griditem_13{grid-area: c13; background-color: crimson ;
}



.c_grid_container{
    display: grid;
    width: auto;
    grid-template-areas: 
    'c1 c6 c7'
    'c1 c8 c2'
    'c9 c3 c2'
    'c4 c3 c10'
    'c4 c11 c5'
    'c12 c13 c5';
    grid-gap: 40px;
    padding-left: 50px;
    padding-right: 50px; 
    grid-template-columns: 3fr 3fr 3fr;

    
}

.c_griditem_stor>img{
    

    border-radius: 15px;
    box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.50);
}
.c_griditem_lille>img{
    

    border-radius: 15px;
    box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.50);
    
}


/*Karriere Side desktop*/

h1{
    font-size: 180px;
    color: #0220BF;
    opacity: 25%;;
}

.k_topgrid{
    font-size: 2rem;
    background-color: white;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-gap: 5%;
    grid-template-areas: 
    'a b';
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.k_topgrid1{
    grid-area: a;
    text-align: left;
    align-self: center;
    
}

.k_topgrid2>img{
    grid-area: b;
    object-fit: cover;
    width: 30rem;
    vertical-align: bottom;
    border-radius: 15px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.59);
}

.button {
    background-color: #6b9299; /* Green */
    border: none;
    color: white;
    padding: 28px 52px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
    }


.k_grid_right{
    background-color: #E5E2E2;
    padding-top: 15%;
    padding-left: 12%;
    margin-right: 15%;
    border-radius: 15px 15px 15px 100px;
    box-shadow: 14px 14px 50px rgba(0, 0, 0, 0.59);
}
.k_grid_left{
    background-color: #E5E2E2;
    padding-top: 15%;
    padding-right: 12%;
    margin-left: 15%;
    border-radius: 15px 15px 100px 15px;
    box-shadow: -14px 14px 50px rgba(0, 0, 0, 0.59);
}

.right_button{
    justify-content: center;

} 

.left_button{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.k_grid1{
    grid-area: k1;
    }
.k_grid2{
    grid-area: k2;
    }
.k_grid3{
    grid-area: k3;
    }  
.k_grid4{
    grid-area: k4;
    }
.k_grid5{
    grid-area: k5;
    }
.k_grid6{
    grid-area: k6;
    }

.griditems2{
    display: grid;
    grid-template-areas: 
    '.      k1      k1'
    'k2     k2      .'
    '.      k3      k3'
    'k4     k4      .'
    '.      k5      k5'
    'k6     k6      .'
    '.     .      .';}

.griditems2{
    grid-gap: 3%;
    height: 200rem;
    background-color: white;
    padding-top: 5%;
    }    









