*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: linear-gradient(to left, #0220bf 22%, #5cbfcc 100%);
    
}

/*Nav bar*/
.n_flex {display: flex;}
.n_child{
    font-size: 120%;}

.n_logo {
   width: 100%;
   height: auto;
   }

.primary-navigation {
    gap: 4vw;
    list-style: none;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    word-wrap: none;
    width: 110%;
    padding-inline: 5%;
    z-index: 100;
}

.primary-navigation a {
    text-decoration: none;
    color: white;}

.mobile-nav-toggle {
    display: none;}

@media (max-width: 500px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;
        list-style: none;
        font-size: 150%;
        padding-top: 15%;
        gap: 10%;
        
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        background-color: black;
        }

        .mobile-nav-toggle[aria-expanded="true"] {
            background-image: url(billeder/ikon.png);
        }
        .primary-navigation[data-visible="true"] {
            transform: translateX(0);
        }
              
        .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 2000;
            right: 1rem;
            top: 2rem;
            background: transparent;
            background-image: url(billeder/ikon.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 1.5rem;
            aspect-ratio: 1;
            border: 0;
        }
           
        .mobile-nav-toggle:focus-visible {
            outline: 5px solid white;
            outline-offset: 5px;
        }
    }

@media (max-width: 1200px) and (min-width: 500px) {
        .primary-navigation {
            position: fixed;
            z-index: 1000;
            inset: 0 0 0 0;
            list-style: none;
            font-size: 150%;
            padding-top: 5%;
            margin: 0;
            flex-direction: column;
            transform: translateX(100%);
            transition: transform 500ms ease-in-out;
            background-color: black;
            }

        .mobile-nav-toggle[aria-expanded="true"] {
                background-image: url(billeder/ikon.png);
            }
        .primary-navigation[data-visible="true"] {
                transform: translateX(0);
            }
            .mobile-nav-toggle {
                display: block;
                position: absolute;
                z-index: 2000;
                right: 1rem;
                top: 2rem;
                background: transparent;
                background-image: url(billeder/ikon.png);
                background-repeat: no-repeat;
                background-position: center;
                width: 1.5rem;
                aspect-ratio: 1;
                border: 0;
            }

        .mobile-nav-toggle:focus-visible {
                outline: 5px solid white;
                outline-offset: 5px;
            }
}
/*Slut på navbar*/
/*Pentia logo animation*/
#c_animation{
    width: 100%;
    height: auto;
    margin-top: -7%;
}
/*Cases grid*/
/*Grid*/
.grid-container {
  display: grid;
  grid-gap: 4vw;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left:  13%;
  padding-right: 13%;
  padding-top: 6%;
  padding-bottom: 4%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;
  
}

.stor{
  max-height: 40vw;
}
.lille{
  height: 14.8vw;
}

/*overlay styling*/
.card_text_hvid{

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2% 6% 2% 6%;
  font-weight: 900;
  font-size: 1rem;
  width: max-content;
}
.card_text_sort{
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2% 6% 2% 6%;
  font-weight: 900;
  font-size: 1rem;
  width: max-content;
}

/*Grid items*/
.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-image: url('cases_billeder/gridbilleder/c_boconcept.jpg');
  background-size: 100% 100%;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}

.item2{
background-image: url('cases_billeder/gridbilleder/c_bruelogkjaer.jpg');
background-size: 100% 100%;
color: #ff5b4c;
box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item3{
background-image: url('cases_billeder/gridbilleder/c_djoef.jpg');
background-size: 100% 100%;
color: #ff5b4c;
box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item4{
background-image: url('cases_billeder/gridbilleder/c_huscompagniet.jpg');
background-size: 100% 100%;
color: #ff5b4c;
box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}

.item5 {
  background-image: url('cases_billeder/gridbilleder/c_kia.JPG');
  background-size: 100% 100%;

  grid-column: 3;
  grid-row: 2 / span 2;

  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item6{
  background-image: url('cases_billeder/gridbilleder/c_leo.jpg');
  background-size: 100% 100%;
  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}

.item7{
  background-image: url('cases_billeder/gridbilleder/c_lmwp.jpg');
  background-size: 100% 100%;

  grid-column: 2;
  grid-row: 3 / span 2;

  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}

.item8{
  background-image: url('cases_billeder/gridbilleder/c_minetilbud.jpg');
  background-size: 100% 100%;
 
  grid-column: 1;
  grid-row: 4 / span 2;

  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item9{
  background-image: url('cases_billeder/gridbilleder/c_molio.jpg');
  background-size: 100% 100%;
  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item10{
  background-image: url('cases_billeder/gridbilleder/c_nnit.jpg');
  background-size: 100% 100%;
  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item11{
  background-image: url('cases_billeder/gridbilleder/c_struers.jpg');
  background-size: 100% 100%;
  
  grid-column: 3;
  grid-row: 5 / span 2;

  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item12{
  background-image: url('cases_billeder/gridbilleder/c_sundhedsstyrelsen.jpg');
  background-size: 100% 100%;
  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
.item13{
  background-image: url('cases_billeder/gridbilleder/c_boconcept.jpg');
  background-size: 100% 100%;
  color: #ff5b4c;
  box-shadow: 19px 18px 40px 0px rgba(0,0,0,0.37);
}
/*-------------------slide in animation------------------*/
.container{
  position: relative;
  display: inline-block;
}

.overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #6b9299;
  border-radius: 15px;
}
.container:hover .overlay{
  opacity: 1;
  
}

.text_lille{
  
  color: white;
  position: absolute;
  text-align: left;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;  
  font-weight: 900;
  font-size: 1.3vw;
}
.text_stor{
  color: white;
  position: absolute;
  text-align: left;
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;  
  font-weight: 1000;
  font-size: 2vw;
}

.overlayLeft{
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.container:hover .overlayLeft{
  width: 100%;

}

/*Tekst over samarbejdspartnere*/
.c_bundbar_lilletekst{
  padding-top: 6%;
  text-align: center;
  background-color: white;
  color: #ff5b4c;
  font-size: 1.8vw;
}
.c_bundbar_tekst{
  text-align: center;
  background-color: white;
  font-size: 1.7vw;
}
/* samarbejdspartnere*/


@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 60));
 }
}
.slider {
  background: white;
  height: 20vw;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}



.slider .slide-track {
  animation: scroll 300s linear infinite;
  display: flex;
  width: calc(250px * 35);
}
   

/*Lad os udfolde dit digitale potentiale*/
.c_bundbar_baggrund{
  width: 100%;
  padding-bottom: 10%;
  background-color: white;
}
.c_bundbar{
  background-color: #ff5b4c;
  width: 73vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;}
#c_bundbar_tekst{
  color: white;
  text-align: center;
  margin-bottom: 0%;
  padding-top: 3%;}
.c_bundbar_flex {
  display: flex;
  justify-content: center;
}
.c_bundbar_knap{
padding: 2% 5% 2% 5%;
border-radius: 12px;
border-color: white;
border-style: solid;
background-color: #ff5b4c;
color: white;
margin: 3%;}

/*Karriere Side desktop*/

.nav_tekst{
  margin-top: 3%;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.k_nav_button{
  display: block;
  justify-content: center;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5%;
}



.k_topgrid{
  font-size: 25px;
  background-color: white;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-gap: 2%;
  grid-template-areas: 
  'a b';
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.k_topgrid1{
  grid-area: a;
  text-align: left;
  align-self: center;
  
}

.k_topgrid2>img{
  grid-area: b;
  object-fit: cover;
  width: 30rem;
  vertical-align: bottom;
  border-radius: 15px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.59);
}


.k_grid1{
  grid-area: k1;
  }
.k_grid2{
  grid-area: k2;
  }
.k_grid3{
  grid-area: k3;
  }  
.k_grid4{
  grid-area: k4;
  }
.k_grid5{
  grid-area: k5;
  }
.k_grid6{
  grid-area: k6;
  }

.griditems2{
  display: grid;
  grid-template-areas: 
  '.      k1      k1'
  'k2     k2      .'
  '.      k3      k3'
  'k4     k4      .'
  '.      k5      k5'
  'k6     k6      .';
  grid-gap: 4%;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 28%;
  justify-content: center;
  width: 100%;
  height: auto;
}





.k_grid_right{
  max-width: 700px;
  max-height: 548px;
  background-color: #E5E2E2;
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 10%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px 15px 15px 60px;
  box-shadow:  15px 15px 40px 0px rgba(0, 0, 0, 0.59);
  opacity: 0;

  
}
.k_grid_left{
  max-width: 700px;
  max-height: 548px;
  background-color: #E5E2E2;
  padding-top: 5%;
  padding-right: 12%;
  padding-left: 10%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px 15px 60px 15px;
  box-shadow:  -15px 15px 40px 0px rgba(0, 0, 0, 0.59);
  opacity: 0;
  
}

@keyframes slideInLeft {
0%{
    opacity: 0.1;
    transform: translateX(-100%);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes slideInRight {
0%{
    opacity: 0.1;
    transform: translateX(100%);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}

.showleft{
-webkit-animation: slideInLeft 2s ease-in-out 0.1s forwards;
animation: slideInLeft 2s ease-in-out 0.1s forwards;
}

.showright{
-webkit-animation: slideInRight 2s ease-in-out 0.1s forwards;
animation: slideInRight 2s ease-in-out 0.1s forwards;
}

.button{
display: flex;
background-color: #6b9299;
border: none;
color: white;
padding-top: 10%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 10%;
text-align: center;
text-decoration: none;
font-size: 20px;
border-radius: 10px;
justify-content: center;
}

.k_indhold1{grid-area: i1;}
.k_indhold2{grid-area: i2;}
.k_indhold3{grid-area: i3;
  display: flex;
  justify-content: center;
}

.k_indhold_grid{
  display: grid;
  grid-gap: 25px;
  grid-template-areas: 
  'i1 i3'
  'i2 i3';
  grid-template-columns: 1fr 1fr;
}


.k_indhold1{
  text-align: center;
  font-size: 12px;
}

.k_indhold2 button{
  margin-right: auto;
  margin-left: auto;
}

.k_indhold3>img{
  width: 100%;
  align-items: center;
  height: auto;
}

.k_indhold1_left{grid-area: c1;}
.k_indhold2_left{grid-area: c2;}
.k_indhold3_left{grid-area: c3;}

.k_indhold_grid-left{
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
  'c3 c1'
  'c3 c2';
  grid-template-columns: 1fr 1fr;
}

.k_indhold1_left{
  font-size: 12px;
  text-align: center;

}

.k_indhold2_left button{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.k_indhold3_left>img{
  width: 100%;
  align-items: center;
  height: auto;
  padding-top: 10%;
}

.k_bundgrid{
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  grid-gap:10%;
  background-color: white;
}

.k_bundgrid_right{
  max-width: 700px;
  max-height: 548px;
  background-color: #E5E2E2;
  padding-top: 5%;
  padding-right: 12%;
  padding-left: 10%;
  padding-bottom: 5%;
  margin-left: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow:  -15px 15px 40px 0px rgba(0, 0, 0, 0.59);
}

.k_bundgrid_left{
  max-width: 700px;
  max-height: 548px;
  background-color: #E5E2E2;
  padding-top: 5%;
  padding-right: 12%;
  padding-left: 10%;
  padding-bottom: 5%;
  margin-right: auto;
  border-radius: 15px 15px 15px 15px;
  box-shadow:  -15px 15px 40px 0px rgba(0, 0, 0, 0.59);

}

/* Grid footer*/

.gfo1{ grid-area: b; }
.gfo2{ grid-area: a; }
.gfo3{ grid-area: c; }

.grid-footer{
display: grid;
grid-template-areas:
  'a b c';
  width: 100%;
  max-width: 1920px;
  background: linear-gradient(to left, #0220bf 22%, #5cbfcc 100%);
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: #E9F4F4;
}

.gfo1-1{ grid-area: a; }
.gfo1-2{ grid-area: b; }
.gfo1-3{ grid-area: c;}

.gfo1{
width: 100%;
height: auto;
border-left: 4px solid #E9F4F4;
border-right: 4px solid #E9F4F4;
display: flex;
justify-content: center;
grid-gap: 5%;
text-align: left;
display: grid;
grid-template-areas:
'a a'
'b c';
}

.gfo1-1{
display: flex;
justify-content: center;
}

.gfo1-3{
font-size: 18px;
padding-top: 17%;
}

.gfo2{
width: 100%;
height: auto;
display: flex;
justify-content: center;
padding-left: 5rem;
padding-right: 3rem;
font-size: 20px;
}

.gfo3-1{grid-area: d;}
.gfo3-2{grid-area: e;
margin-left: auto;
}
.gfo3-3{grid-area: f;
margin-right: auto;
}

.gfo3{
width: 100%;
height: auto;
padding-top: 2rem;
text-align: center;
grid-gap: 0px;
display: flex;
display: grid;
grid-template-areas: 
'd d'
'e f';
}

.gfo3-1{
margin-top: 1rem;
align-items: center;
}


#footer-alm-skrift{
font-size: 18px;
}

#fo-h3{
font-size: 35px;
}

.b_kbh{grid-area: b1;}
.b_aarhus{grid-area: b2;}
.b_malmo{grid-area: b3;}
.b_odense{grid-area: b4;}



.gridf_byer{
grid-gap: 10%;
display: grid;
grid-template-areas: 
'b1 b2'
'b3 b4';
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
}