h1{
    font-size: 180px;
    color: #0220BF;
    opacity: 25%;;
}





.k_grid1{
    grid-area: k1;
    background-color: aliceblue;}
.k_grid2{
    grid-area: k2;
    background-color: aqua;}
.k_grid3{
    grid-area: k3;
    background-color: aquamarine;}
.k_grid4{
    grid-area: k4;
    background-color: beige;
    }
.k_grid5{
    grid-area: k5;
    background-color: bisque;
    }
.k_grid6{
    grid-area: k6;
    background-color: chartreuse;
    }

.griditems2{
    display: grid;
    grid-template-areas: 
    'k1     k1      .'
    '.      k2      k2'
    'k3     k3      .'
    '.      k4      k4'
    'k5     k5      .'
    '.      k6      k6'
    '.     .      .';}